In [22]:
import pandas as pd

In [23]:
measurement_df = pd.DataFrame(pd.read_csv('hawaii_measurements.csv'))

clean_mdf = measurement_df.dropna(0, how = 'any').reset_index(drop=False)

clean_mdf = clean_mdf.rename(columns={'index': 'id'})

clean_mdf.head()

   id      station        date  prcp  tobs
0   0  USC00519397  2010-01-01  0.08    65
1   1  USC00519397  2010-01-02  0.00    63
2   2  USC00519397  2010-01-03  0.00    74
3   3  USC00519397  2010-01-04  0.00    76
4   5  USC00519397  2010-01-07  0.06    70

In [24]:
station_df = pd.DataFrame(pd.read_csv('hawaii_stations.csv'))

clean_sdf = station_df.dropna(0, how = 'any').reset_index(drop=False) #no data cleaning actually necessary on this one

clean_sdf = clean_sdf.rename(columns={'index': 'id'})

clean_sdf.head()

,id,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [25]:
clean_mdf.to_csv("clean_measurements.csv", index= False)
clean_sdf.to_csv("clean_stations.csv", index= False)